<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>stat</title>
    <!-- 引入 ECharts 文件 -->
    <script src="js/echarts.min.js"></script>
    <!-- 引入 jQuery 文件 -->
    <script src="js/jquery.min.js"></script>
</head>
<body>


<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main"
     style="width: 1000px;height:600px;position: absolute; top:50%; left: 50%; margin-top: -300px;margin-left: -500px"></div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var fetching = false;
    var urlParams = new URLSearchParams(window.location.search);
    var day = urlParams.has('day') ? "?day=" + urlParams.get('day') : "";
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '慕课网实战课程实时访问量统计',
            subtext: '实战课程访问次数',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left'
        },
        series: [
            {
                name: '访问次数',
                type: 'pie',
                roseType: 'angle',
                radius: '55%',
                center: ['50%', '60%'],
                data: [],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

    function getData() {
        //<![CDATA[
        if (!myChart || fetching) return;
        fetching = true;
        $.ajax({
            type: "POST",
            url: "/course_click_count_dynamic" + day,
            dataType: 'json',
            async: false,
            success: function (result) {
                var datas = [];
                for (var i = 0; i < result.length; i++) {
                    datas.push({"value": result[i].value, "name": result[i].name})
                }
                var opt = myChart.getOption();
                opt.series[0].data = datas;
                myChart.setOption(opt);
                fetching = false;
                myChart.hideLoading();
            }
        });
        //]]>
    }

    myChart.showLoading();
    getData();
    setInterval(getData, 20000);
</script>
</body>
</html>